<h1>{{title}}</h1>

<p> Numero 1: <input type='number' [(ngModel)]='numero1'> </p>
<p>
  Numero 2: <input type='number' [(ngModel)]='numero2'>

  <button class='b' style="margin-left:2.5em" (click)="onReset()">
    Reset
  </button>
</p>

<button class='b' (click)="onAddizione()">
    Addizione
</button>
<button class='b' style="margin-left:2.5em" (click)="onSottrazione()">
    Sottrazione
</button>

<br>
<table class="digit-table-h">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>k</td>
      <td>h</td>
      <td>da</td>
      <td>u</td>
      <td>&nbsp;</td>
      <td>d</td>
      <td>c</td>
    </tr>
  </tbody>
</table>
<digit-component [numero]=numero1 [segno]=segno></digit-component>
<digit-component [numero]=numero2 [segno]=segno></digit-component>