.legenda-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}

.legenda-table td {
  border: 1px solid white;
  padding: 11px;
  text-align: center;
  font-size: 30px;
  width: 50px;
}

.result-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}

.result-table td {
  border: 3px solid black;
  padding: 6px;
  text-align: center;
  font-size: 30px;
  width: 50px;
}

.result-table input {
  height: 50px;
  width: 50px;
  font-size: 30px;
  text-align: center;
}

.riporto-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}

.riporto-table td {
  border: 1px solid white;
  padding: 12px;
  text-align: center;
  width: 40px;
}

.riporto-table input {
  height: 30px;
  width: 40px;
  font-size: 20px;
  text-align: center;
}

.b {
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  background-color: #e8e8e8;
  color: #3d3d3d;
  border-radius: 4px;
}

.b:hover:enabled {
  color: white;
  background-color: #42545c;
}

.b:active:enabled {
  transform: translateY(2px);
}

.b:disabled {
  color: white;
  background-color: #6d83e4;
}

.input-invalid {
  background-color: rgb(255, 101, 101);
}
